
/* diseño para configurar estilos predeterminados del navegador */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contener{
    width: 90%;
    margin: auto;
}
/* -------------------------------------------------------------- */

/* diseño del menu de usuario*/
.menuUser{
    display: flex;
    background-color: #2a3744;
    margin-bottom: 10px;
}


.busq2{
   margin-left: 2%;
   padding-top: 30px;
   width: 50%;
}


.busq2 form input{
    width: 100%;

}

.menuUser .nav{
    position: fixed;
    padding: 10px;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 1;
    background-color: #2a3744;
    border-right: 1px solid ghostwhite;
}

.menuUser .nav ul li{
    list-style: none;
    text-align: center;
    margin-top: 20px;
}

.menuUser .nav ul li img{
    border-radius: 50%;
    width: 150px;
    object-fit: contain;
}

.menuUser .nav ul li a{
   list-style: none;
   color: ghostwhite;
}


.menu-toggle{
    padding: 1.5em;
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 2;
}

.hamburger,
.hamburger::before,
.hamburger::after{
    width: 2.5em;
    height: 2px;
    background-color: ghostwhite;
}



.hamburger,
.hamburger::before,
.hamburger::after{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
    top: 8px;
  }
  
.hamburger::after {
    bottom: 8px;
}



.menuUser .nav {
    transform: translateX(-100%);
}
  
.menuUser .nav.open{
    transform: translateX(0);
}

.menuUser .nav{
    transition: transform 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
   



/* diseño del menu principal */
.menu{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    background-color: #2a3744;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.notMove{
    position: sticky;
    top: 0;
}



/* ---tamaño del logo */
.seccion1{
    padding: 10px;
}
.seccion1 img{
    width: auto;
    height: 60px;
}


/*--- diseño del buscador */
.busq{
  padding-top: 20px;
  width: 40%;
}

.busq form input{
    width: 100%;
    height: 50px;
    border-style: none;
    border-radius: 20px;
    padding-left: 10px;
}

/*lista de busqueda*/
#listbusq{
    background-color: aqua;
    position: fixed;
    left: 0;
    right: 0;
    top: 80px;
    bottom: 0;
    transform: translateX(-100%);
}

#listbusq.notMovLIst{
    transform: translateX(0);
}

/* -----diseño de los botones login y registrar */
ul.botones{
    margin:5px;
    font-family: cursive;
    font-size: 20px;
    line-height: 65px;
    height: 65px;
}
ul.botones li{
    display:block;
    float: left;
    height: 60px;
    text-align: center;
}

ul.botones li a{
    text-align: center;
	background-color: ghostwhite;
	border-radius:30px;
    color:   #2a3744;
    margin: 10px 20px 50px -6px;
    height: 100px;
	
}

.botones li a{
    background-color:  #2a3744;
    color: ghostwhite;
    padding: 15px 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 30px;
    font-weight: bolder;
    font-size: 15px;
    margin: 8px 10px 0px 10px;
    border: 0px solid;
    font-size: 12.5px;
    height: 60px;
  }

ul.botones li a:hover{
	background-color:   #2a3744;
	border: 1px solid ghostwhite;
	color:  ghostwhite;
}
/* -------------------------- ------------*/


/* diseño de los botones de categoria */
.categorias{
    border-bottom: 1px solid black;
}
.boton{
    text-align: center;
    background-color: #212c38;
    color:ghostwhite;
    width: auto;
    height: 40px;
    border-radius: 20px;
    border: none;
    font-family: sans-serif;
    padding: 10px 20px;
    margin: 10px;
}

.boton:hover {
    background-color: #19222b;
}

/* -------------------------------- */



/* diseño de los cursos */
.view_c{
    
}
.cursos{
    display: flex;
    border-radius: 10px;
    background-color: rgb(235, 230, 230);
    margin: 10px 0;
    padding-bottom:  20px;
    width: auto;
}

.cursos img{
        height: 300px;
        width: auto;
        margin-top:50px;
        margin-left: 50px;
        border-radius: 10px; 
}

.cursos section{
    padding: 20px;

}

.titulo_curso{
    font-size: 30px;
    text-align: center;
    color: #19222b;
    margin: 10px;
}

.descripcion {
    margin:3%;

    text-align: center;
}



.vermas{
    width: 30%;
    height: 40px;
    background-color: #212c38;
    color:ghostwhite;
    border-radius: 20px;
    padding: 10px;
    border: none;
    margin: 35%;
    font-family: sans-serif;   
    text-align: center;
}

/*clases para el formulario cambiar datos*/
.ventana{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.787);
    z-index: 20;
    transform: translateX(-100%);
}

.ventana form{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 40%;
    height: 50%;
}

.ventana.show{
  transform: translateX(0);
}

/* -------------------------------------------------- */
/* ---------------- Este es de lo de los pagos ------------------------- */
.pagos{
    background-color: #ededed;
    text-align: center;
    justify-content: center;
}
th, td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 50px;
  }
  th{
    background-color: #2e4b61;
  }

  table {
    border-spacing: 0px;
    margin-top: 50px;
  }

table{
    text-align: center;
    margin: auto 10px;
    caption-side: bottom;

}
th{
    color: white;
}


td,th{
    border: 1px solid black;
    padding-left:10px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.paguito{
    text-align: left;
    margin-top: 30px;
    margin-left: 20px;
    color: #444;
    font-size: 30px;
    font-style:initial;
    font-weight: bolder;
}
body{
    background-color: #ededed;
}
